.uploadImage::-webkit-file-upload-button {
  visibility: hidden;
}
.uploadImage::before {
  content: "Select some images";
  overflow-y: hidden;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.uploadImage:hover::before {
  border-color: black;
}
.uploadImage:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* File Upload */

.uploadFile::-webkit-file-upload-button {
  visibility: hidden;
}
.uploadFile::before {
  content: "Select some pdf or docx files";
  overflow-y: hidden;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.uploadFile:hover::before {
  border-color: black;
}
.uploadFile:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.pdf-container {
  width: 100%;
  height: 600px;
}
